* {
  text-decoration: none;
}
.navbar {
  &__container {
    display: flex;
    align-items: center;
  }
  &__links {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    align-items: center;
    margin: 0 1rem;
    justify-content: center;
    gap: 2em;
  }
}
